.calculator {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.calculator hr {
  color: #666;
  margin-bottom: 35px;
}

.calculator-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.calculator-desc {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cal-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.calculator-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.calculator-basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.calculator-basic label {
  margin-top: 0.25rem;
  padding-left: 0.8rem;
  font-weight: 600;
  padding-left: 20px;
}

.calculator-basic input,
.calculator-basic select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 250px;
}

.calculator-basic button {
  background-color: #047857;
  height: 35px;
  width: 80px;
  border-radius: 0.375rem;
  border: none;
  color: white;
  cursor: pointer;
}

.calculator-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1.8px solid #ccc;
  border-radius: 0.375rem;
  padding: 20px;
  width: 800px;
  height: 550px;
}

.calculator-sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1.8px solid #ccc;
  border-radius: 0.375rem;
  padding: 20px;
  width: 800px;
}

.calculator-group {
  flex: 1 1 calc(25% - 1rem);
  min-width: 180px;
  display: flex;
  flex-direction: column;
}

.calculator-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  padding-left: 3px;
}

.calculator-group input,
.calculator-group select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 400px;
  text-align: right;
}

.calculator-group input.fee {
  width: 185px;
  margin-left: 5px;
}
.calculator-group select.fee {
  width: 200px;
  margin-right: 5px;
}

.select-input {
  display:'flex';
  flex-direction:'row';
  width: 100%
}

/* .calculator-sales hr {
  color: #666;
  margin-bottom: 35px;
  margin-right: 10px;
} */

.calculator-summary {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  gap: 150px;
}

.summary-box h4 {
  margin-bottom: 0.25rem;
  font-weight: 600;
  padding-left: 145px;
}

.summary-box p {
  font-size: 1.25rem;
  color: #2e7d32;
  border: 1.8px solid #ccc;
  border-radius: 0.375rem;
  width: 300px;
  text-align: right;
  margin: 20px;
  padding: 0.5rem;
}

.calculator-actions {
  text-align: center;
  margin-top: 1rem;
}

.submit-button {
  background-color: #007944;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #006636;
}
