body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;

  }
::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  scroll-behavior: smooth;
}
